<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccessLibrary.Properties.Settings.HSPMeltConnectionString"
            connectionString="Data Source=HSPHMLTSQL1;Initial Catalog=HSPMelt;Persist Security Info=True;User ID=HSPMelt_rw_datauser;Password=HSPMelt_rw_datauser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>